extends ../layout

block content
    ul
        each book in books
            li= book.title

    form(method='post' action='/book/')
        input(name="title")
        button(type="submit") Ajouter
